*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/vcs.xml
.idea/misc.xml
.idea/misc.xml
.idea/modules.xml
.idea/misc.xml
.idea/misc.xml
.idea/modules.xml
.idea/misc.xml
scaleview/build/generated/source/buildConfig/release/com/lichfaker/scaleview/BuildConfig.java
scaleview/build/generated/source/r/release/android/support/v4/R.java
scaleview/build/generated/source/r/release/android/support/v7/appcompat/R.java
.idea/misc.xml
.idea/caches/build_file_checksums.ser
